<div class="contenedor">

  <!-- ENCABEZADO -->

  <div class="encabezado">

    <div>

      <h1>Datos Personales</h1>

      <p>
        Administración de información personal
      </p>

    </div>


    <button
      mat-raised-button
      color="primary"
      (click)="nuevoDato()">

      <mat-icon>
        person_add
      </mat-icon>

      Nuevo registro

    </button>

  </div>


  <!-- FORMULARIO -->

  @if (mostrarFormulario) {

    <mat-card class="formulario">

      <mat-card-header>

        <mat-card-title>

          {{ editando
            ? 'Editar datos personales'
            : 'Nuevo registro'
          }}

        </mat-card-title>

      </mat-card-header>


      <mat-card-content>

        <div class="grid">


          <!-- NOMBRE -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Nombre completo
            </mat-label>

            <input
              matInput
              [(ngModel)]="datosSeleccionados.nombre">

          </mat-form-field>


          <!-- CURP -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              CURP
            </mat-label>

            <input
              matInput
              [(ngModel)]="datosSeleccionados.curp">

          </mat-form-field>


          <!-- FECHA -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Fecha de nacimiento
            </mat-label>

            <input
              matInput
              type="date"
              [(ngModel)]="datosSeleccionados.fechaNacimiento">

          </mat-form-field>


          <!-- GENERO -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Género
            </mat-label>

            <mat-select
              [(ngModel)]="datosSeleccionados.generoId">

              @for (
                genero of generos;
                track genero.id
              ) {

                <mat-option
                  [value]="genero.id">

                  {{ genero.nombre }}

                </mat-option>

              }

            </mat-select>

          </mat-form-field>


          <!-- EMAIL -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Email
            </mat-label>

            <input
              matInput
              type="email"
              [(ngModel)]="datosSeleccionados.email">

          </mat-form-field>


          <!-- TELEFONO -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Teléfono
            </mat-label>

            <input
              matInput
              [(ngModel)]="datosSeleccionados.telefono">

          </mat-form-field>


          <!-- CALLE -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Calle
            </mat-label>

            <input
              matInput
              [(ngModel)]="datosSeleccionados.calle">

          </mat-form-field>


          <!-- NUMERO EXTERIOR -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Número exterior
            </mat-label>

            <input
              matInput
              type="number"
              [(ngModel)]="datosSeleccionados.numE">

          </mat-form-field>


          <!-- NUMERO INTERIOR -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Número interior
            </mat-label>

            <input
              matInput
              type="number"
              [(ngModel)]="datosSeleccionados.numI">

          </mat-form-field>


          <!-- CP -->

          <mat-form-field
            appearance="outline">

            <mat-label>
              Código postal
            </mat-label>

            <input
              matInput
              maxlength="5"
              [(ngModel)]="datosSeleccionados.cp">

          </mat-form-field>


          <!-- ESTADO -->

          <!-- ESTADO -->

<mat-form-field
  appearance="outline">

  <mat-label>
    Estado
  </mat-label>

  <mat-select
    [(ngModel)]="datosSeleccionados.estadoId"
    (selectionChange)="cambioEstado()">

    @for (
      estado of estados;
      track estado.id
    ) {

      <mat-option
        [value]="estado.id">

        {{ estado.nombre }}

      </mat-option>

    }

  </mat-select>

</mat-form-field>
<!-- MUNICIPIO -->

<mat-form-field
  appearance="outline">

  <mat-label>
    Municipio
  </mat-label>

  <mat-select
    [(ngModel)]="datosSeleccionados.municipioId"
    (selectionChange)="cambioMunicipio()"
    [disabled]="!datosSeleccionados.estadoId">

    @for (
      municipio of obtenerMunicipiosDelEstado();
      track municipio.id
    ) {

      <mat-option
        [value]="municipio.id">

        {{ municipio.nombre }}

      </mat-option>

    }

  </mat-select>

</mat-form-field>

<!-- LOCALIDAD -->

<mat-form-field
  appearance="outline">

  <mat-label>
    Localidad
  </mat-label>

  <mat-select
    [(ngModel)]="datosSeleccionados.localidadId"
    [disabled]="!datosSeleccionados.municipioId">

    @for (
      localidad of obtenerLocalidadesDelMunicipio();
      track localidad.id
    ) {

      <mat-option
        [value]="localidad.id">

        {{ localidad.nombre }}

      </mat-option>

    }

  </mat-select>

</mat-form-field>


        </div>

      </mat-card-content>


      <mat-card-actions>

        <button
          mat-button
          (click)="cancelar()">

          Cancelar

        </button>


        <button
          mat-raised-button
          color="primary"
          (click)="guardarDatos()">

          <mat-icon>
            save
          </mat-icon>

          {{ editando
            ? 'Actualizar'
            : 'Guardar'
          }}

        </button>

      </mat-card-actions>

    </mat-card>

  }


  <!-- TABLA -->

  <mat-card class="tabla-card">

    <table
      mat-table
      [dataSource]="datos"
      class="tabla">


      <ng-container
        matColumnDef="nombre">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Nombre

        </th>

        <td
          mat-cell
          *matCellDef="let dato">

          {{ dato.nombre }}

        </td>

      </ng-container>


      <ng-container
        matColumnDef="curp">

        <th
          mat-header-cell
          *matHeaderCellDef>

          CURP

        </th>

        <td
          mat-cell
          *matCellDef="let dato">

          {{ dato.curp }}

        </td>

      </ng-container>


      <ng-container
        matColumnDef="email">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Email

        </th>

        <td
          mat-cell
          *matCellDef="let dato">

          {{ dato.email }}

        </td>

      </ng-container>


      <ng-container
        matColumnDef="acciones">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Acciones

        </th>

        <td
          mat-cell
          *matCellDef="let dato">


          <button
            mat-icon-button
            color="primary"
            (click)="editarDato(dato)"
            matTooltip="Editar">

            <mat-icon>
              edit
            </mat-icon>

          </button>


           
          @if (authService.esAdministrador()) {

  <button
    mat-icon-button
    color="warn"
    (click)="eliminarDato(dato)"
    matTooltip="Eliminar">

    Eliminar

  </button>

}


        </td>

      </ng-container>


      <tr
        mat-header-row
        *matHeaderRowDef="columnas">
      </tr>


      <tr
        mat-row
        *matRowDef="
          let row;
          columns: columnas;
        ">
      </tr>


    </table>


    @if (datos.length === 0) {

      <div class="sin-datos">

        <mat-icon>
          person
        </mat-icon>

        <p>
          No hay datos personales registrados.
        </p>

        <button
          mat-raised-button
          color="primary"
          (click)="nuevoDato()">

          Agregar primer registro

        </button>

      </div>

    }

  </mat-card>

</div>